@mixin transition($property, $durarion) {
  -webkit-transition: $property $durarion;
  --ms-transition:$property $durarion;
  --o-transition:$property $durarion;
  transition:$property $durarion;
}


@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
